<html lang="nl">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!--  FONT AWESOME -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
		<title>
			{% if app_title %}
				{{ app_title }} |
			{% endif %}
			SK Click {{"APP_VERSION" | _ENV}}
		</title>
		<link rel="shortcut icon" href="{{ 'favicon.ico' | url }}" type="image/x-icon">
		<link rel="stylesheet" href="{{ 'assets/css/style.css' | url }}?{{ 'APP_VERSION' | _ENV }}">
		
	</head>
	<body class="{% if 'APP_MODE' | _ENV == "production" %}bg-secondary{% else %}bg-danger{% endif %}">
		<div id="app-body">
			{% if not delnav %}
				<div class="fixed-top">
					{% include 'nav.twig' %}
				</div>
			{% endif %}
			<div class="container-fluid mt-4">
				{% block content %}{% endblock %}
			</div>
		</div>
			<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<input type="hidden" id="BASE_URL" value="{{ '' | url }}">
			<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
			<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

			<script src="{{ 'assets/js/const.js' | url }}?{{ 'APP_VERSION' | _ENV }}"></script>
			<script src="{{ 'assets/js/functions.js' | url }}?{{ 'APP_VERSION' | _ENV }}"></script>
			<script src="{{ 'assets/js/templates.js' | url }}?{{ 'APP_VERSION' | _ENV }}"></script>
			<script src="{{ 'assets/js/objects.js' | url }}?{{ 'APP_VERSION' | _ENV }}"></script>
			<script src="{{ 'assets/js/components.js' | url }}?{{ 'APP_VERSION' | _ENV }}"></script>
			<script src="{{ 'assets/js/app.js' | url }}?{{ 'APP_VERSION' | _ENV }}"></script>
			{% block javascript %}{% endblock %}
	</body>
</html>